<html>

<head>

    <link href="style.css" rel="stylesheet" />
    <script src="country.js"></script>

</head>

<body>
  
  <div id="Color1" class="centerElement halfWidth">
    <h2 id="CountryName">Country: USA</h2>
    <h2 id="OfficialLanguage">Language: English</h2>
    <h2 id="HelloWorld">Greeting: Hello World</h2>
    <img id="Image" src="">
  </div>

  <div id="Color2" class="halfWidth">
    
    <select id="CountryList">
      <option value="USA">USA</option>
      <option value="Egypt">Egypt</option>
      <option value="France">France</option>
      <option value="Italy">Italy</option>
      <option value="Germany">Germany</option>
      <option value="India">India</option>
  </select>
  <button onclick="SwitchCountry()">Swap Country</button>
  </div> 

  <div id="Color3" class = "centerElement halfWidth"></div> 
  
   

</body>

</html>