.centerElement{
  display: block;
  margin-right: auto;
  margin-left: auto;
}

.halfWidth{
   width: 50%;
   height: 50%;
}

div{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border-style: solid;
  border-width: 1px;
  border-color: black;
  border-radius: 25px;
  height: 700px;
}

#Color1{
  color: red;
}

#Color2{
  background-color: blue;
}

#Color3{
  background-color:white;
}